# ignoring environment variable file
*.env

# everything in the build directory
build/linux/webserver/*
build/linux/seed/*

html/assets/images/*

# db seed data
db_seed/*

# ignoring nohup.out file
nohup.out