# ignoring environment variable file
*.env

# everything in the build directory
build/linux/webserver/*
build/linux/seed/*

html/assets/images/*
html/

# db seed data
db_seed/*

sqlite.db

# ignoring nohup.out file
nohup.out

