# ignoring environment variable file
*.env
*.env.template

# everything in the build directory
build/linux/keiji/*
build/linux/keiji-ctl/*

html/assets/images/*


sqlite.db

# ignoring nohup.out file
nohup.out

coverage/



