{{ define "admin.html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/api/v1/style/bootstrap.min.css">
        <link rel="stylesheet" href="/api/v1/style/mdb/mdb.min.css">
    </head>

<body style="background-color: rgb(56, 56, 56);
                background-image: url(/api/v1/images/blackandwhitedesign.jpg);
                background-repeat: no-repeat;
                background-size: cover;">
    {{ template "navigation.html" .navigation }}
    <div class="container-fluid row">
        {{ range .Tables }}
            <div class="col">
                <div class="col container h-2 p-2" style="background-color: rgb(22, 22, 22); color: white; height: fit-content; font-size: larger; font-family: monospace;">
                    {{ .TableName }}
                </div>
                    <table class="table table-dark table-hover">
                        <thead>
                        </thead>
                    <tbody>
                    {{ range .TableData }}
                        <tr>
                            <th scope="row" style="color: white; height: fit-content; font-size: larger; font-family: monospace;">
                                <a href="{{ .Link }}">{{ .DisplayName }}</a></th>
                        </tr>
                    {{ end }}
                        </tbody>
                    </table>
                </div>
            {{ end }}
    </div>
    <script type="text/javascript" src="/api/v1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/api/v1/htmx/htmx.min.js"></script>
    <script src="/api/v1/htmx/json-enc.js"></script>
</body>
</html>
{{ end }}