{{ define "blogpost.html" }}
<!DOCTYPE html>
<html lang="en">

        <div class="container-fluid row">
            <div class="col"></div>
            <div class="col-auto p-3 m-3" style="max-width: 80vw;">
                <div class="row" style="background-color: rgb(22, 22, 22); color: white; height: fit-content; font-family: monospace; white-space: pre-wrap;">
                    <p class="text-center">{{ .Title }}</p>
                </div>
                <div class="row" style="background-color: rgb(22, 22, 22); color: white; height: fit-content; font-family: monospace; white-space: pre-wrap">
                    <p class="text-left">{{ .Created }}</p>
                </div>
                <div class="row" style="background-color: rgb(22, 22, 22); color: white; height: fit-content; font-family: monospace; white-space: pre-wrap">
                    <p class="text-left">{{ .Body }}</p>
                </div>
            </div>
            <div class="col"></div>
        </div>

</html>
{{ end }}
