{{ define "home.html" }}
<!DOCTYPE html>
<html lang="en">
    {{ template "head.html" }}
    <body style="background-color: #191a1b;">
    {{ template "navigation.html" .navigation }}
    <div id="main"></div>
    <div id="mySidenav" class="sidenav row">
        {{ range .menu}}
            <button class="btn-primary" hx-get="{{ .MenuLink }}" style="font-family: monospace;" hx-target="#main">
                {{ .LinkText }}
            </button>
        {{ end }}
    </div>
        <script type="text/javascript" src="/api/v1/cdn/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/api/v1/cdn/slide.js"></script>
        <script src="/api/v1/cdn/htmx.min.js"></script>
        <script src="/api/v1/cdn/json-enc.js"></script>
    </body>
</html>
{{ end }}
