{{ define "writing.html" }}
<!DOCTYPE html>
<html lang="en">
{{ template "centered-image.html" .image }}
{{ range .listings }}
<div class="container-fluid p-5 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                {{ template "listing.html" . }}
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>
{{ end }}
</html>
{{ end }}